
<ion-view view-title="Settings">



  <ion-content class="" scroll="false">
  
  	<form>        	
  		<textarea name="text" class="feedback-input" placeholder="Send Feedback"></textarea>
  		<input type="submit" value="SEND"/>
	</form>

	<div class="logout">
    	<button class="button button-full button-dark icon-left ion-android-exit logoutbutton" ng-click="clearNavHistory();logout()">Logout</button>
  	</div>

  	<div class="deleteaccount">
  		<button class="button button-full button-assertive icon-left ion-android-exit deleteaccountbutton" ng-click="">Delete Account</button>
  	</div>

  </ion-content>
</ion-view>
