<ion-view view-title="Chat Rooms">



<ion-nav-buttons side="secondary">
    <button 
      class="button button-icon ion-gear-a"
      ui-sref="tab.settings">
    </button>
</ion-nav-buttons>


  <ion-content>
  
    <div class="list">
      <button class="item button-full chatbuttons beachbuttonone" 
           ng-click="">Before you Start
      </button>

      <button class="item button-full chatbuttons beachbuttontwo" 
           ng-click="">State your Hypothesis
      </button>

      <button class="item button-full chatbuttons beachbuttonthree" 
           ng-click="">Validate the Problem
      </button>

      <button class="item button-full chatbuttons beachbuttonfour" 
           ng-click="">Validate the Solution
      </button>

      <button class="item button-full chatbuttons waterbuttonone" 
           ng-click="">Create Prototypes
      </button>

      <button class="item button-full chatbuttons waterbuttontwo" 
           ng-click="">Build a MVP
      </button>

      <button class="item button-full chatbuttons waterbuttonthree" 
           ng-click="">Find Early Adopters
      </button>

      <button class="item button-full chatbuttons waterbuttonfour" 
           ng-click="">Go to Market
      </button>

      <button class="item button-full chatbuttons wavebuttonone" 
           ng-click="">Hack your Growth
      </button>

      <button class="item button-full chatbuttons wavebuttontwo" 
           ng-click="">Think outside the Box
      </button>

      <button class="item button-full chatbuttons wavebuttonthree" 
           ng-click="">Love your Customer
      </button>

      <button class="item button-full chatbuttons wavebuttonfour" 
           ng-click="">Automate your Processes
      </button>
    </div >
      
     

  </ion-content>
</ion-view>
